

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Prueba Nuevo Jugador</title>
    </head>
    <body>
        <h1>Alta jugador</h1>
        <form action="/BasicCRUDWebApp/FrontController"><input type="hidden" name="form" value="createServlet" />
            Nombre: <input type="text" name="name" value="" /><BR>
            Nick: <input type="text" name="address" value="" /><BR>
            Email: <input type="text" name="phone" value="" /><BR>
            <input type="submit" value="Submit" />
        </form>
    </body>
</html>
