<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>errorAltaForm</param-name>
        <param-value>/view/errorAltaForm.jsp</param-value>
    </context-param>
    <context-param>
        <param-name>altaForm</param-name>
        <param-value>/view/altaForm.jsp</param-value>
    </context-param>
    <context-param>
        <param-name>exitoAltaForm</param-name>
        <param-value>/view/exitoAltaForm.jsp</param-value>
    </context-param>
    <context-param>
        <param-name>mainForm</param-name>
        <param-value>/index.jsp</param-value>
    </context-param>
    <context-param>
        <param-name>altaServlet</param-name>
        <param-value>altaServlet</param-value>
    </context-param>
    <context-param>
        <param-name>MiServlet</param-name>
        <param-value>MiServlet</param-value>
    </context-param>
    <context-param>
        <param-name>databaseURL</param-name>
        <param-value>jdbc:mysql://localhost:3306/ris2k</param-value>
    </context-param>
    <context-param>
        <param-name>databaseDriver</param-name>
        <param-value>com.mysql.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <param-name>databasePassword</param-name>
        <param-value>prueba</param-value>
    </context-param>
    <context-param>
        <param-name>databaseUser</param-name>
        <param-value>prueba</param-value>
    </context-param>
    <context-param>
        <param-name>persistenceMechanism</param-name>
        <param-value>JDBC</param-value>
    </context-param>
    <context-param>
        <param-name>accesoServlet</param-name>
        <param-value>accesoServlet</param-value>
    </context-param>
    <context-param>
        <param-name>instrucciones</param-name>
        <param-value>/view/instrucciones.jsp</param-value>
    </context-param>
    <context-param>
        <param-name>territorioAtacante</param-name>
        <param-value>/test/dibujo.xml</param-value>
    </context-param>
    <context-param>
        <param-name>territorioDefensor</param-name>
        <param-value>/test/dibujo.xml</param-value>
    </context-param>
    <context-param>
        <param-name>errorAccesoForm</param-name>
        <param-value>/view/accesoForm.jsp</param-value>
    </context-param>
    <servlet>
        <servlet-name>FrontController</servlet-name>
        <servlet-class>controller.FrontController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>altaServlet</servlet-name>
        <servlet-class>controller.altaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MiServlet</servlet-name>
        <servlet-class>controller.MiServlet</servlet-class>
        <init-param>
            <param-name>altaForm</param-name>
            <param-value>altaServlet</param-value>
        </init-param>
        <init-param>
            <param-name>errorAltaForm</param-name>
            <param-value>/view/errorAltaForm.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>exitoAltaForm</param-name>
            <param-value>/view/exitoAltaForm.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>mainForm</param-name>
            <param-value>index.jsp</param-value>
        </init-param>
        <init-param>
            <param-name>territorioAtacante</param-name>
            <param-value>/test/dibujo.xml</param-value>
        </init-param>
        <init-param>
            <param-name>territorioDefensor</param-name>
            <param-value>/test/dibujo.xml</param-value>
        </init-param>
        </servlet>
    <servlet>
        <servlet-name>accesoServlet</servlet-name>
        <servlet-class>controller.accesoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TerritorioAtacante</servlet-name>
        <servlet-class>controller.TerritorioAtacante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TerritorioDefensor</servlet-name>
        <servlet-class>controller.TerritorioDefensor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FrontController</servlet-name>
        <url-pattern>/servlet/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FrontController</servlet-name>
        <url-pattern>/FrontController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>altaServlet</servlet-name>
        <url-pattern>/altaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>accesoServlet</servlet-name>
        <url-pattern>/accesoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TerritorioAtacante</servlet-name>
        <url-pattern>/TerritorioAtacante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TerritorioDefensor</servlet-name>
        <url-pattern>/TerritorioDefensor</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
	<welcome-file>
            index.jsp
        </welcome-file>
    </welcome-file-list>
</web-app>
